{% extends 'info/header.html' %}
{% block content %}
{% load staticfiles %}
<br><br>

<div class=row>
	<div class=col-sm-12>

	 <center><img src="{% static 'info/img/riberalogo.jpeg' %}" class="img-responsive" alt='whip' style='max-height:550px;'></center>
	</div>
</div>


<hr class="featurette-divider">
 <br><br>
	<center><h2>Welcome to Ribera Investment Management</h2>
	<br>
	<p>We are a company that is focused on making smart, informed investments, developing relationships with clients based on mutual trust, and building wealth for a comfortable future.</p></center>
 <br><br><br>
<hr class="featurette-divider">
{% endblock %}
