{% extends 'info/header.html' %}
{% block content %}
{% load staticfiles %}
<div class=row>
	<div class=col-sm-3>
	  <img id='ys' src="{% static 'info/img/innocence.jpg' %}" class="img-responsive" alt='ys' style='max-height: 400px;'>
	</div>
	<div id='al' class=col-sm-6>
		<br><br>
		<h1>Tyler Ribera</h1>
		<p>Founding partner and President.  Tyler Graduated with a degree in economics from UC Berkeley and holds a Masters degree in Monetary Economics from CSU East Bay.

Tyler co-founded RIBERA Investment Management, LLC in 1994.  Prior to this position, Tyler worked at Charles Schwab in the Advisor Services Department, now Schwab Institutional.<p>
	  <br>
	  <hr class="featurette-divider">
		<!-- <br> -->
		<h1 style="padding:10px;">PHILOSOPHY</h1>
		<p>The philosophy of Ribera Investment Management is to provide our clients with useful information for all of life's financial activities for a reasonable fee.  Our financial strategies aim at allowing you to accumulate high returns while protecting your hard-earned savings from inflation and taxes within the risk framework that you select.  We will introduce you to concepts and practices that will make your financial future more secure. </p>
	  </br>
	</div>
</div>
<hr id='abt-divider2' class="featurette-divider">
<!-- <div class=row>
	<div class=col-sm-12>
		<p>veyrong ggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg</p>
	</div>
</div> -->

<!-- <hr class="featurette-divider"> -->

{% endblock %}
